*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Space Grotesk;
    background-color: #1e1f31;
    overflow-x: hidden;
}
.wrapper{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header u1 li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
header u1 li a{
    color: #aba9b4;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
header u1 li a:hover{
    color: #f09053;
}
header u1 li a.btn{
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    background-color: #f09053;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: all ease 0.5s;
}
header u1 li a.btn:hover{
    background-color: #615c59;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 0;
}
.text{
    width: 50%;
    padding-right: 150px;
}
.text p{
    font-size: 28px;
    line-height: 46px;
    color: #fff;
}
.text p span{
    color: #f09053;
}
.text a{
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 18px 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;
}
.text a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #f09053;
    z-index: -1;
    transition: all ease 0.5s;
    width: 100%;
}
.text a:hover:before{
    background-color: #615c59;;
}
.img{
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(520px,#f08f538c,transparent 40%);
    margin-top: -50px;
}
.email-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social-icons{
    height: 100%;
    animation: rotation 60s linear infinite;
}
@keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}
.social-icons img{
    position: absolute;
}
.social-icons img:nth-child(1){
    top: 0;
    left: 42%;    
}
.social-icons img:nth-child(2){
    top: 25%;
    right: 0;
}
.social-icons img:nth-child(3){
    top: 70%;
    left: 70%;
}
.social-icons img:nth-child(4){
    top: 25%;
    left: 0;
}
.social-icons img:nth-child(5){
    top: 70%;
    left: 10%;
}
